<%- include("partials/header") %>
<h1>Landing page</h1>
<li><a href="/register">REGISTER</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">LOGOUT</a></li>


<a href="/campgrounds">Click here</a>
<%- include("partials/footer") %>